.container{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.column-left{
  max-width: 75%;
}

.column-right{
  max-width: 25%;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
}

.column{
  margin-right: 15px;
}

.item{
  margin-top: 15px;
}

.form{
  text-align: left;
}

.text{
  margin: 3px;
}

.active{
  color: #0112fc;
}

.employersActiveList{
  border-top: 1px solid #000000;
  margin-left: 50px;
  text-align: left;
  width: 100%;
}

.employersBirthday{
  border-left: 2px solid #000000;
}